<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
    <title>全局</title>
    <link rel="stylesheet" href="../public/lib/weui.css">
    <link rel="stylesheet" href="../public/css/jquery-weui.css">
    <link rel="stylesheet" href="../public/css/animate.min.css"/>
    <style>
        *{margin: 0}
        .img{width:80%;border-radius: 15px;border: 2px solid #04BE02;margin: 0 auto;overflow: hidden;background:#04BE02;
            margin-bottom:20px;}
        .img img{width:100%;display: block}
        .weui_cells:after{border:none}
    </style>

</head>
<body>
<div class="weui_cells">
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p style="text-align: center">
                <span id="name">xxx</span>在星战中是 <span id="name2">www</span>
            </p>
        </div>
    </div>
    <div class="img animated bounceIn">
        <img src="http://moretao-xingqiu.stor.sinaapp.com/xingqiu%2Fannajin.jpg" alt=""/>
    </div>
</div>
<div class="weui_cells">
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p style="text-align: center">输入姓名看看你在星战中是谁</p>
        </div>
    </div>
</div>
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class=""><label class="weui_label">姓名</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="tel" id="name3" placeholder="请输入姓名">
        </div>
    </div>
</div>
<div class="content-padded" style="margin-top: 30px;">
    <a href="javascript:;" id="show-alert" class="weui_btn weui_btn_primary">测一下</a>
</div>
<script src="../public/lib/jquery-2.1.4.js"></script>
<script src="../public/js/jquery-weui.js"></script>
<script type="text/javascript" src="../public/js/jQuery.Hz2Py-min.js"></script>
<script src="../public/js/index.js"></script>

</body>
</html>